@page "/counter"
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage

<h1>Counter</h1>

<br />
<p>
    Counter is again standard code that comes with the default project. However, I've modified it to remember the count number using <a href="https://github.com/Blazored/LocalStorage">Blazored.LocalStorage</a>, a nuget package/library to provide access to local storage in Blazor applications.
    <br />Pre-comiled source is <a href="https://github.com/aalshibily/website/blob/main/Pages/Counter.razor" target="_blank">here</a>! <em>Note: Opens in new tab!</em>
</p>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="ResetCount">Reset</button>


@code {
    private int currentCount = 0;

    protected override void OnInitialized()
    {
        if (localStorage.ContainKey("Counter"))
        {
            currentCount = localStorage.GetItem<int>("Counter");
        }
        else
        {
            localStorage.SetItem<int>("Counter", currentCount);
        }
    }

    private void IncrementCount(MouseEventArgs e)
    {
        if (e.AltKey)
        {
            currentCount += 100;
        }
        else
        {
            currentCount++;
        }
        localStorage.SetItem<int>("Counter", currentCount);
    }

    private void ResetCount()
    {
        currentCount = 0;
        localStorage.SetItem<int>("Counter", currentCount);
    }
}
