@page "/"

<h1 class="text-center">Hello, 🌎! &lt;/&gt;</h1>

<h4 class="text-center">Welcome to my website!</h4>
<p class="text-center">It's still a WIP (Work-in-progress) so please be patient with me! 🙏</p>

<br/>
<section id="intro" class="text-center">
    <h5 class="text-center">I'm</h5>
    <img src="../img/pic.jpg" style="width:100px; background-color:aqua; border-radius:50%; object-fit: "/>
    <h5 class="text-center"><span class="primary">Abdullah</span> <span class="secondary">Alshibily</span></h5>
    <p class="text-uppercase">Full-Stack software engineer</p>
</section>

<p class="text-center">
    I've always had a curiousity and interest in learning how computers works both on a software and hardware level.
</p>